<h1>Create a review for: <%= @bathroom.title %></h1>
<% if flash[:error] %>
<label>Your rating could not be submitted due to the following: </label>
<% flash[:error].each do |err| %>
<ul>
  <li><%= err %></li>
</ul>
<% end %>
<% end %>
<%= render partial: 'form', locals: {bathroom: @bathroom, rating: @rating}%>
